table, th, tr, td {
    border:5px solid;
    padding: 10px;
}

.my-form {
    padding: 60px 0 40px 0;
}

.consultants-table-index {
    float: left;
    margin-right: 10%;
}

.navbar ul li {
    padding: 5px;
}
