table, th, tr, td {
    border:5px solid;
    padding: 10px;
}

/*.my-form {
    padding: 60px 0 40px 0;
}*/

.consultants-table-index {
    margin-right: 5%;
    width: 100%;
}

.left-side {
    float: left;
}

.navbar ul li {
    padding: 5px;
}

.consultant-details {
    float: left;
    margin-left: 5%;
}

.body-content {
    padding: 2%;
}

.google-box {
    padding: 60px;
    background: blue;
    border: 2px solid;
    height: 100%;
    width: 100%;
    float: right;
}

.hiddenRow{
  display: none;
  overflow: hidden;

}

.collapse-row {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}