table, th, tr, td {
    border:5px solid;
    padding: 10px;
}

.my-form {
    padding: 60px 0 40px 0;
}

.consultants-table-index {
    margin-right: 5%;
}

.left-side {
    float: left;
}

.navbar ul li {
    padding: 5px;
}

.consultant-details {
    float: left;
    margin: 0;
}

.body-content {
    padding: 2%;
}