<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<!--styles import--------------------------------------------------------------------------------------------->

<head th:fragment="head">
    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
    <link th:href="@{styles.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto+Slab&display=swap" rel="stylesheet"></head>

<body>

<!--header/navbar--------------------------------------------------------------------------------------------->
    <div th:fragment="page-header" class="navbar navbar-expand-md navbar-dark fixed-top">
        <div>
            <div class="navbar">
                <ul class="navbar-nav mr-auto">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/search}">Search</a></li>
<!--                    <li><a th:href="@{/list}">List</a></li>-->
                </ul>
            </div>
        </div>
    </div>

<!--search form----------------------------------------------------------------------------------------------->
    <div th:fragment="search-form" class="my-form">
        <form th:action="@{/search}" method = "post" th:object="${searchForm}">
            <h2>Search by:</h2>
            <div class="form-holder">
            <ul>
                <li>
                    <label for="consultantLevel">Consultant Type: </label>
                    <select id="consultantLevel">
                        <option value="consultantType">Consultant Only</option>
                        <option value="traineeType">Trainee Only</option>
                        <option value="anyType">Either</option>
                    </select>
                </li>
                <li>
                    <input type="checkbox"
                           name="salonOnly"
                           id="salonOnly"/>
                    <label for="salonOnly">Salon Only</label>
                </li>
                <li>
                    <label for="city">City:</label>
                    <input type="text"
                       name="city"
                       id="city"
                       maxlength="20"
                       size="20"/>
                </li>
                <li>
                    <label for="state">State: </label>
                    <select id="state">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </li>

                <li>
                        <button type="submit button" class="btn btn-primary" value="Search">Search</button>
                </li>
            </ul>
            </div>
        </form>
    </div>



<!--consultant list-------------------------------------------------------------------------------------->

    <table id="selectedColumn" th:fragment="list-consultants-results" class="centeredTable consultants-table-index">
        <thead>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th></th>
        </thead>


        <th:block th:each="person: ${tableChoices.consultants}">
            <tr th:attr="data-target='#accordion_'+${person.name}" data-toggle="collapse" class="accordion-toggle">
                <td th:text="${person.name}"></td>
                <td th:text="${person.city}"></td>
                <td th:text="${person.state}"></td>
                <td th:text="${person.zipCode}"></td>
                <td><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#accordion_'+${person.name}">Details</button></td>
            </tr>
            <tr>
                <td class="hiddenRow"
                    colspan="5">
                    <div class="collapse"
                         th:id="'#accordion_'+${person.name}"
                         th:utext=" 'Name: ' + ${person.name} + '<br>' +
                                    'Phone Number: ' + ${person.phoneNumber} + '<br>'+
                                    'Email: ' + ${person.email} + '<br>'+
                                    'Address: ' + ${person.address} + '<br>'+
                                    ${person.city} + ', ' + ${person.state} + ' ' + ${person.zipCode} + '<br>' +
                                    'Consultant Level: ' + ${person.consultantLevel} + '<br>' +
                                    'Salon or Home: ' + ${person.salonOrHome} + '<br>'+
                                    'Salon Name (if applicable): ' + ${person.salonName} + '<br>'">

                    </div>
                </td>
            </tr>
        </th:block>
        <tfoot>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th></th>
        </tfoot>

        <!--        <tr th:each="person : ${tableChoices.consultants}" >-->
        <!--            <td th:each="item : ${person.name}">-->
        <!--                <a th:text="${person.name}"></a>-->
        <!--            </td>-->
        <!--            <td th:text="${person.city}"></td>-->
        <!--            <td th:text="${person.state}"></td>-->
        <!--            <td th:text="${person.zipCode}"></td>-->
        <!--            <td><button type="button" class="collapsible" data-toggle="collapse" data-target=".collapse-row">Details</button></td>-->

        <!--        </tr>-->
        <!--        <tr class="collapse-row collapse">-->
        <!--            <td>-->
        <!--                some more info-->
        <!--            </td>-->
        <!--        </tr>-->


<!--        <th:block th:each="result: ${results}">-->
<!--            <tr th:attr="data-target='#accordion_'+${result.name}" data-toggle="collapse" class="accordion-toggle">-->
<!--                <td th:text="${result.name}"></td>-->
<!--                <td th:text="${result.value}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="6" class="hiddenRow">-->
<!--                    <div class="accordion-body collapse" th:id="'#accordion_'+${result.name}">there is nothing to see here (yet)</div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </th:block>-->

<!--individual cells but the wrong number-->
<!--        <tr th:each="category : ${tableChoices}">-->
<!--            <td th:each="item : ${category.value}" >-->
<!--                <a th:href="@{/list/consultants(column=${category.key},value=${item})}" th:text="${item}"></a>-->
<!--            </td>-->
<!--        </tr>-->

<!--the right number but an array prints -->
<!--        <tr th:each="category : ${tableChoices}">-->
<!--            <td th:each="item : ${category}" >-->
<!--                <a th:href="@{/list/consultants(column=${category.key},value=${item})}" th:text="${tableChoices.name}"></a>-->
<!--            </td>-->
<!--            <td th:text="${tableChoices.city}"></td>-->
<!--        </tr>-->

<!--        one name prints but just the one-->
<!--        <tr th:each="name : ${tableChoices.name}">-->
<!--            <td th:each="item : ${name}" th:text="${name}">-->
<!--                <a th:href="@{/list/consultants(column=${category.key},value=${name})}" th:text="${name}"></a>-->
<!--            </td>-->
<!--            <td th:each="item : ${city}" th:text="${city}"></td>-->
<!--        </tr>        -->

<!--all boxes print but are empty-->
<!--        <tr th:each="name : ${tableChoices.name}">-->
<!--            <td th:each="item : ${name}" th:text="${name}">-->
<!--                <a th:href="@{/list/consultants(column=${category.key},value=${name})}" th:text="${name}"></a>-->
<!--            </td>-->
<!--            <td th:each="item : ${name}" th:text="${city}"></td>-->
<!--        </tr>-->


<!--each row prints all names but they're all the same so that's good-->
<!--        <tr th:each="name : ${tableChoices.name}">-->
<!--            <td th:each="item : ${tableChoices}" th:text="${name}"></td> &lt;!&ndash;//this makes all names&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:each="item : ${tableChoices}" th:text="${city}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:each="item : ${name}" th:text="${city}"></td>&ndash;&gt;-->
<!--        </tr>-->


<!--            <td>-->
<!--                <a th:href="@{/list/consultants(column=${category.key},value=${name})}" th:text="${person.name}">-->
<!--            </td>-->
<!--            <td th:text="${person.state}"></td> &lt;!&ndash;//&ndash;&gt;-->
<!--            <td th:text="${person.zipCode}"></td> &lt;!&ndash;//&ndash;&gt;-->
<!--            <td th:each="item : ${consultant}" th:text="${item.value}"></td> &lt;!&ndash;//&ndash;&gt;-->
<!--            <td th:each="state : ${tableChoices.state}" th:text="${state.value}"></td> &lt;!&ndash;//this makes all states&ndash;&gt;-->
<!--            <td th:each="zipCode : ${tableChoices.zipCode}" th:text="${zipCode.value}"></td> &lt;!&ndash;//this makes all zips&ndash;&gt;-->


        
    </table>







<!--table of consultants fragment-->
<!--    <table th:fragment="list-consultants-loop" class="consultant-listing" >-->
<!--        <tr th:each="'Name: ' + ${person.name} + '<br>'+-->
<!--                'Phone Number: ' + ${person.phoneNumber} + '<br>'+-->
<!--                'Email: ' + ${person.email} + '<br>'+-->
<!--                'Address: ' + ${person.address} + '<br>'+-->
<!--                'City: ' + ${person.city} + '<br>'+-->
<!--                'State: ' + ${person.state} + '<br>'+-->
<!--                'Zip: ' + ${person.zipCode} + '<br>'+-->
<!--                'Consultant Level: ' + ${person.consultantLevel} + '<br>'+-->
<!--                'Salon or Home: ' + ${person.salonOrHome} + '<br>'+-->
<!--                'Salon Name (if applicable): ' + ${person.salonName} + '<br>'"></td>-->
<!--        </tr>-->

<!--    </table>-->


<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->

<!--                        <input type="radio"-->
<!--                               name="consultantType"-->
<!--                               id="consultantType"-->
<!--                               value="consultantType"/>-->
<!--                        <label for="consultantType">Consultant Only</label>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                        <input type="radio"-->
<!--                               name="consultantType"-->
<!--                               id="traineeType"-->
<!--                               value="traineeType"/>-->
<!--                        <label for="traineeType">Trainee Only</label>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                        <input type="radio"-->
<!--                               name="consultantType"-->
<!--                               id="anyType"-->
<!--                               value="anyType"/>-->
<!--                        <label for="anyType">Any</label>-->


<!--                <div class="">-->
<!--                    <ul>-->

<!--                        <li>-->

</body>
</html>