<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<!--styles import fragment-->
<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="src/main/resources/static/styles.css" >

</head>

<body>

<!--header/navbar fragment-->
    <div th:fragment="page-header" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
<!--            <div class="navbar-header">-->
<!--                <a th:href="@{/}" class="navbar-brand">TechJobs</a>-->
<!--            </div>-->
            <div class="navbar">
                <ul class="navbar-nav mr-auto">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>


<!--search form fragment-->
    <div th:fragment="search-form">
    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>
    </div>


<!--table of consultants fragment-->
    <table th:fragment="list-consultants-loop" class="consultant-listing" >
        <tr th:each="consultant : ${consultants}">
            <td th:utext="
            'ID: ' + ${consultant.id} + '<br>'+
            'Name: ' + ${consultant.name} + '<br>'+
            'Phone Number: ' + ${consultant.phoneNumber} + '<br>'+
            'Email: ' + ${consultant.email} + '<br>'+
            'Address: ' + ${consultant.address} + '<br>'+
            'City: ' + ${consultant.city} + '<br>'+
            'State: ' + ${consultant.state} + '<br>'+
            'Zip: ' + ${consultant.zip} + '<br>'+
            'Trainee or Consultant: ' + ${consultant.traineeOrConsultant} + '<br>'+
            'Salon or Home: ' + ${consultant.salonOrHome} + '<br>'+
            'Salon Name (if applicable): ' + ${consultant.salonName} + '<br>'"></td>
        </tr>

    </table>

</body>
</html>