<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <ul>
        <li th:each="action : ${actions}">
            <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
        </li>
    </ul>
</div>

<div th:replace="fragments :: search-form"></div>

<h2>Consultants results:</h2>
<p>(click to expand details)</p>

<!--TABLE OF RESULTS------------------------------------------------------------------------------------------>
<table class="centeredTable consultants-table-index">
    <tr>
        <!--                <th>All</th>-->
        <th:block th:each="column : ${columns}">
            <th th:text = "${column.value}"></th>
        </th:block>
    </tr>
    <tr>

<!--TODO #2: figure out the format for the table so it's not a list-->
        <td th:each="category : ${tableChoices}">
            <ul class="list-unstyled">
                <li th:each="item : ${category.value}">
                    <a th:href="@{/list/consultants(column=${category.key},value=${item})}" th:text="${item}"></a>
                </li>
            </ul>
        </td>
    </tr>
</table>


<!--TODO #3: add details and float right-->
<div class="consultant-details">
    here's some details
</div>
<!--<table th:replace="fragments::list-consultants-loop"></table>-->

</body>

</html>