<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="body-content">
    <div th:replace="fragments :: search-form"></div>
    <div class="">
        <div class="left-side">

            <div>
                <h2>Consultants results:</h2>
                <p>(click name to expand details)</p>

                <!--TABLE OF RESULTS------------------------------------------------------------------------------------------>
                <table th:replace="fragments::list-consultants-results"></table>
            </div>


            <div class="google-box">
                google square
            </div>
        </div>

        <!--TODO: make details alive when clicked. javascript?-->



    </div>
</div>

</body>

</html>