<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="body-content">
    <div th:replace="fragments :: search-form"></div>
    <div class="consultant-and-google">
        <div class="left-side">
                <h2>Consultants results:</h2>
                <p>(click name to expand details)</p>

                <!--TABLE OF RESULTS------------------------------------------------------------------------------------------>
                <table th:replace="fragments::list-consultants-results"></table>
        </div>

        <div class="google-box">
                <h2>google square</h2>
        </div>
        <!--TODO: make details alive when clicked. javascript?-->



    </div>
</div>

</body>

</html>